<ion-modal-view>
        <ion-header-bar align-title="left" class="bar bar-header ">
          <h1 class="title">Edit Profile</h1>
          <button class="button  button-primary" ng-click="editForm.modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content><div class="list ">
  <label class="item item-input">
    <input type="text" placeholder="First Name" ng-model="editForm.user.firstName">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Last Name" ng-model="editForm.user.lastName">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Anonymous Name" ng-model="editForm.user.anonName">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="User Name" ng-model="editForm.user.displayName">
  </label>
</div>
<button class="button button-stable center" ng-click="editForm.submitUser()"> 
  Save changes
</button>
</ion-content></ion-modal-view>