<ion-modal-view>
        <ion-header-bar align-title="left" class="bar bar-header ">
                <h1 class="title">Edit Profile</h1>
                <button class="button  button-primary" ng-click="editForm.modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content>
                <div class="list ">
                        <div class="item item-thumbnail-left">
                            <img class="" ng-src="{{editForm.user.picture}}" />
                            <button ng-if="!loadingImage" class="button button-energised" ngf-select="editForm.uploadUserPicture($file, $invalidFiles)" accept="image/*" ngf-max-height="5000" ngf-max-size="10MB" >
                                Change picture
                            </button>
                            <p class="center">
                            <ion-spinner ng-if="loadingImage" class="spinner-energized"></ion-spinner>
                            </p>
                        </div>
                        <div class="item row">
                            <div class="col col-50">
                              <input type="text" placeholder="First Name" ng-model="editForm.user.firstName">
                            </div>
                            <div class="col col-50">
                              <input type="text" placeholder="Last Name" ng-model="editForm.user.lastName">
                            </div>
                        </div>
                        
                        
                        <label class="item item-input">
                                <input type="text" placeholder="Anonymous Name *for all users" ng-model="editForm.user.anonName">
                        </label>
                        <label class="item item-input">
                                <input type="text" placeholder="Display Name *for revealed users" ng-model="editForm.user.displayName">
                        </label>
                        <label class="item item-input">
                                <input type="text" placeholder="Status" ng-model="editForm.user.status">
                        </label>
                        <label class="item item-input">
                                <textarea  placeholder="Interests separated by ! Eg: !food !chat" ng-model="editForm.user.interests"></textarea> 
                        </label>
                </div>
                <button class="button button-stable center" ng-click="editForm.submitUser()">
                        Save changes
                </button>
        </ion-content>
</ion-modal-view>
