<ion-content class="has-header">
        <div class="list">
                <div class="row" style="flex-wrap:wrap">
                        <div class="col col-50 " ng-repeat-start="post in apc.postsList track by post._id">
                                <!--<div class="item item-avatar">
                                        <img ng-src="{{post.user.picture}}">
                                        <h2>{{post.user.anonName}}</h2>
                                        <p>{{post.user.status}}</p>
                                </div>-->
                                <div class="item item-body  item-text-wrap">
                                        <a nav-direction="forward" ui-sref="singlePost({id:post._id})">
                                                <p>
                                                        {{post.content}}
                                                </p>
                                        </a>
                                        <p>
                                                <span class="subdued" ng-repeat="interest in post.interests track by $index">
!{{interest}}
</span>
                                        </p>
                                </div>
                        </div>
                        <div ng-repeat-end=""></div>
                </div>
        </div>
</ion-content>
