<ion-content class="has-header" keep-scroll>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="apc.pullRefreshPosts()">
        </ion-refresher>


        <div class="row ">
                <div class="col col-90">
                        <div class="item item-input">
                                <input type="text" ng-model="apc.postSearchText" placeholder="Search posts by tags. Eg: football" />
                                <span ng-if="apc.showSearchCross" class="padding" ng-click="apc.searchCrossSubmit()">
                                	<i  class=" icon ion-close-round">
                                	</i>
                                </span>
                        </div>
                </div>
                <button ng-if="!spc.showClear " ng-disabled="!apc.postSearchText" class=" col button button-icon icon ion-ios-search" ng-click="apc.postSearchTextSubmit()">
                        </button>
        </div>
        <posts-list posts-list="apc.postsList" post-search-text-submit="apc.postSearchTextSubmit(interest)" ></posts-list>
        <ion-infinite-scroll on-infinite="apc.loadMorePosts()" distance="100%" immediate-check="false" ng-if="apc.canLoadMoreResults && apc.initialSearchCompleted">
        </ion-infinite-scroll>
</ion-content>
