<ion-view>
         <ion-header-bar align-title="left" class="bar bar-header ">
          

          <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="cpc.goBack()">Back</button>
          <button class="button  button-primary" ng-click="cpc.submitPost()" ng-disabled="!cpc.post.content">Submit</button>
        </ion-header-bar>
        
        <ion-content>
                {{300-cpc.post.content.length}}
                <form>
                        <div class="row">
                                <div class="col">
                                        <label class="item item-input text">
                                                <textarea rows="10" ng-model="cpc.post.content">
                        			</textarea>
                                        </label>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col">
                                        <label class="item item-input text">
                                                <textarea  ng-model="cpc.post.interest" placeholder="Enter tags !food !work">
                        </textarea>
                                        </label>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col">
                        <button >
                                Submit
                        </button>
                                </div>
                        </div>
                        
                        
                </form>
        </ion-content>
</ion-view>
