<ion-view>
<ion-content class="has-header" watch-scroll>
        
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="npc.pullRefreshPosts()">
        </ion-refresher>

        <div class="item range">
                <i class="icon ion-ios-navigate-outline"></i>

                <input type="range" on-release="npc.releaseRange()"  name="distance" min="10" max="1000" ng-model="npc.distance">
                
                {{npc.distance+" mi"}}
        </div>
        <br><br>
        
        <div ng-if="npc.noPosts">
                <h1 class="noPostsHeader">No posts available</h1>
        </div>
        <ionic-custom-spinner ng-if="!npc.initialSearchCompleted" >                
                
        </ionic-custom-spinner>
        
        <posts-list posts-list="npc.postsList"></posts-list>
        <ion-infinite-scroll on-infinite="npc.loadMorePosts()" distance="70%" immediate-check="false" ng-if="npc.canLoadMoreResults && npc.initialSearchCompleted">
        </ion-infinite-scroll>
</ion-content>
</ion-view>
