<ion-content  class="has-header">
	<ul>
		<li>Nearby posts1</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li><li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li><li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li><li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li><li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li><li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li><li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>
		<li>Nearby posts</li>

	</ul>
</ion-content>