<ion-view >
  

<ion-content class="has-header" watch-scroll>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="ppc.pullRefreshPosts()">
        </ion-refresher>
        <ionic-custom-spinner ng-if="!ppc.initialSearchCompleted" >                
                
        </ionic-custom-spinner>
        
        <posts-list posts-list="ppc.postsList"></posts-list>
        <ion-infinite-scroll on-infinite="ppc.loadMorePosts()" distance="70%" immediate-check="false" ng-if="ppc.canLoadMoreResults && ppc.initialSearchCompleted">
        </ion-infinite-scroll>
</ion-content>
</ion-view>



