
<ion-modal-view>
        <ion-header-bar class="bar bar-header ">
          
          <button class="button  button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content>
          <h1>distance : {{postModal.distanceObj.distance}}</h1>
        	<h1>Upvote length: {{postModal.post.upvotesLength}}</h1>
        	<h1>views length: {{postModal.post.views}}</h1>
                <div class=" card">
                        <div class="item item-avatar">
                                <img ng-src="{{postModal.post.user.picture}}">
                                <h2>{{postModal.post.user.anonName}}</h2>
                                <p>{{postModal.post.user.status}}</p>
                        </div>
                        <div class="item item-body" >
                                <p>
                                        <span ng-bind="postModal.post.content ">
				</span>
                                </p>
                                <p>
                                        <span class="subdued" ng-repeat="interest in post.interests track by $index">
				!{{interest}}
				</span>
                                </p>
                        </div>
                </div>
                <button ng-if="!postModal.postUpvoted" ng-click="postModal.submitPostUpvote()">Upvote</button>
                <button ng-if="postModal.postUpvoted" ng-click="postModal.deletePostUpvote()">Upvoted</button>
        </ion-content>
      </ion-modal-view>