<div class="list">
        <div class=" card" ng-repeat="post in postsList track by post._id">
                <div class="item item-avatar">
                        <img ng-src="{{post.user.picture}}">
                        <h2>{{post.user.anonName}}</h2>
                        <p>{{post.user.status}}</p>
                </div>
                <div class="item item-body" ui-sref="singlePost({id:post._id})">
                        <p>
                                <span ng-bind="post.content | limitTo:150">
</span><span ng-if="post.content.length > 150">...</span>
                        </p>
                        <p>
                                <span class="subdued" ng-repeat="interest in post.interests track by $index">
!{{interest}}
</span>
                        </p>
                </div>
        </div>
</div>
