
<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          
          <button class="button button-icon ion-arrow-left-c icon " ng-click="modal.hide()"></button>
        </ion-header-bar>
        <ion-content>
          
        	
                <div class="item">
                        <div class="item item-avatar item-icon-right">
                                <img ng-src="{{postModal.post.user.picture}}">
                                <h2 ng-click="postModal.userPage(postModal.post.user._id)">{{postModal.post.user.anonName}}</h2>
                                <p>{{postModal.post.user.status}}</p>
                                <i style="font-size:20px"  class="icon">{{postModal.distanceObj.distance+" mi"}}</i>
                        </div>
                        <div class="item item-body" >
                                <p>
                                        <span ng-bind="postModal.post.content ">
				</span>
                                </p>
                                <p>
                                        <span class="subdued" ng-repeat="interest in post.interests track by $index">
				!{{interest}}
				</span>
                                </p>
                        </div>
                
                <div class="row postInfo">
                                    <div class="col">
                                        <i class="icon ion-android-favorite-outline"></i>
                                        <span class="infoValue">{{postModal.post.upvotesLength}}</span>
                                    </div>
                                    <div class="col text-center">
                                        <i class="icon ion-eye"></i>
                                        <span class="infoValue"> {{postModal.post.views+" views"}}</span>
                                    </div>
                                    <div class="col text-right">
                                        <i class="icon ion-android-time"></i>
                                        <span class="infoValue">{{getTime(postModal.post.time)}}</span>
                                    </div>
                                </div></div>
                <button ng-if="!postModal.postUpvoted" ng-click="postModal.submitPostUpvote()">Upvote</button>
                <button ng-if="postModal.postUpvoted" ng-click="postModal.deletePostUpvote()">Upvoted</button>
        </ion-content>
      </ion-modal-view>