<div class="list ">
        <div class="card singlePostContainer material-card2" ng-repeat="post in postsList track by post._id">
                <div class="item item-avatar item-icon-right">
                        <img class="postUserImage imageGray" ng-src="{{post.user.picture}}">
                        <h2 class="postUserName"><a ui-sref="home.userPage({user:post.user._id})">{{post.user.anonName}}</a></h2>
                        <p class="tagContent">
                                <span class="subdued postTag" ng-click="setPostSearch(interest)" ng-repeat="interest in post.interests track by $index">!{{interest}}</span>
                        </p>
                        <distance-view position-cords="post.loc"> </distance-view>
                </div>
                <div class="item item-body  item-text-wrap singlePostContent" ng-click="showPostModal(post)">
                        
                        <div >
                                <p >
                                        <span ng-bind="post.content | limitTo:150">
                                        </span>
                                        <span ng-if="post.content.length > 150">...</span>
                                </p>
                        </div>
                        <img class="full-image postImage imageGray" ng-src="{{post.image}}" ng-if="post.image">
                        <div class="row postInfo">
                                <div class="col padding">
                                       <i class="infoViews icon ion-android-favorite-outline"></i>
                                        <span class="infoValue">{{post.upvotesLength}}</span>
                                </div>
                                <div class="col text-left padding">
                                          <i class="icon ion-eye"></i>
                                        <span class="infoValue">{{post.views}}</span>
                                </div>
                                <div class="col text-right padding">
                                       <i class="icon ion-android-time"></i>
                                        <span class="infoValue">{{getTime(post.time)}}</span>
                                </div>
                        </div>
                </div>
                
                
        </div>
        <!--
<div class="list">
        <div class=" item item-text-wrap singlePostContainer" ng-repeat="post in postsList track by post._id">
                <div class="row">
                        <div class="col col-20">
                                <img class="postUserImage" ng-src="{{post.user.picture}}">
                        </div>
                        <div class="col col-80">
                                <div>
                                        <h2>{{post.user.anonName}}</h2>
                                        <p class="tagContent">
                                                <span class="subdued postTag" ng-click="setPostSearch(interest)" ng-repeat="interest in post.interests track by $index">!{{interest}}</span>
                                        </p>
                                </div>
                                <div ng-click="showPostModal(post._id)">
                                        <p class="singlePostContent">
                                                <span ng-bind="post.content | limitTo:150">
                                        </span>
                                                <span ng-if="post.content.length > 150">...</span>
                                        </p>
                                        
                                </div>
                                <div class="row postInfo">
                                        <div class="col">
                                                <i class="icon ion-android-favorite-outline"></i>
                                                <span class="infoValue">{{post.upvotesLength}}</span>
                                        </div>
                                        <div class="col">
                                                <i class="icon ion-eye"></i>
                                                <span class="infoValue">{{post.views}}</span>
                                        </div>
                                        <div class="col">
                                                <i class="icon ion-android-time"></i>
                                                <span class="infoValue">{{getTime(post.time)}}</span>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>

previous code
<div class="item item-avatar">
<img ng-src="{{post.user.picture}}">
<h2>{{post.user.anonName}}</h2>
<p>{{post.user.status}}</p>
</div>
<div class="item item-body" ng-click="showPostModal(post._id)" >
<p class="singlePostContent">
<span ng-bind="post.content | limitTo:150">
</span><span ng-if="post.content.length > 150">...</span>
</p>
<p>
<span class="subdued" ng-repeat="interest in post.interests track by $index">
!{{interest}}
</span>
</p>
</div>-->

</div>
