<ion-view >
        <ion-header-bar class="bar-calm headerCustom">
                <div class="row rowCustom">
                        <div class="col col-20 columnCustom " ui-sref="home.post.all" ui-sref-active="columnCustomActive"><h5 class="customTabHeading">All</h5></div>
                        <div class="col col-25 columnCustom" ui-sref="home.post.nearby" ui-sref-active="columnCustomActive"><h5 class="customTabHeading">Nearby</h5></div>
                        <div class="col col-25 columnCustom" ui-sref="home.post.latest" ui-sref-active="columnCustomActive"><h5 class="customTabHeading">Latest</h5></div>
                        <div class="col col-30 columnCustom" ui-sref="home.post.popular" ui-sref-active="columnCustomActive"><h5 class="customTabHeading">Popular</h5></div>
                </div>
        </ion-header-bar>
        <div ui-view="post-tab">Loading</div>
</ion-view>
