<ion-modal-view cache-view="false">
        <ion-header-bar class="bar bar-header bar-positive">
                <button class="button button-icon ion-arrow-left-c icon " ng-click="modal.hide()"></button>
        </ion-header-bar>
        <ion-content class="has-header">
                <div class="item">
                        <div class="item item-avatar item-icon-right">
                                <img ng-src="{{postModal.post.user.picture}}">
                                <h2><a ui-sref="home.user.userPage({user:postModal.post.user._id})">{{postModal.post.user.anonName}}</a></h2>
                                <p>{{postModal.post.user.status}}</p>
                                <distance-view position-cords="postModal.post.loc"> </distance-view>
                        </div>
                        <div class="item item-body">
                               
                                <p>
                                        <span ng-bind="postModal.post.content ">
                                        </span>
                                </p>
                                <p>
                                        <span class="subdued" ng-repeat="interest in post.interests track by $index">
                !{{interest}}
                </span>
                                </p>
                        </div>
                        <div class="row postInfo">
                                <div class="col">
                                        <i class="icon ion-android-favorite-outline"></i>
                                        <span class="infoValue">{{postModal.post.upvotesLength}}</span>
                                </div>
                                <div class="col text-center">
                                        <i class="icon ion-eye"></i>
                                        <span class="infoValue"> {{postModal.post.views+" views"}}</span>
                                </div>
                                <div class="col text-right">
                                        <i class="icon ion-android-time"></i>
                                        <span class="infoValue">{{getTime(postModal.post.time)}}</span>
                                </div>
                        </div>
                </div>
                <button ng-if="!postModal.postUpvoted" ng-click="postModal.submitPostUpvote()">Upvote</button>
                <button ng-if="postModal.postUpvoted" ng-click="postModal.deletePostUpvote()">Upvoted</button>
        </ion-content>
</ion-modal-view>
