<ion-view cache-view="false">
        <ion-pane ng-cloak>
                <ion-header-bar align-title="left" class="bar-positive gradHeader">
                        <button class="button button-icon ion-arrow-left-c icon" ng-click="mrc.leaveMessageRoom()">
                        </button>
                        <h4 class="title">
                            
                            <span >
                                {{ mrc.messageRoom.post.content}}
                            </span>
                            <span ng-if="mrc.messageRoom.interest">
                                {{mrc.messageRoom.interest}}
                            </span>
                
                        </h4>
                                <button class="button button-icon ion-ios-gear-outline icon"  user-settings chat-delete="{{mrc.chatRoom._id}}">
                                </button>
                                
                        
                </ion-header-bar>
                <!--overflow-scroll="false"-->
                <ion-content class="has-header" class="messageContent">
                        <ion-refresher pulling-text="Pull to refresh..." on-refresh="mrc.loadMoreMessages()">
                        </ion-refresher>
                        <div ng-cloak  class="list animatedClass  messageListBox">
                                <div ng-repeat="message in mrc.messageList" class="item item-avatar item-text-wrap singleMessageListItem">

                                        <img class="messageUserImage" ng-src="{{message.user.picture}}">    
                                         
                                         <h2 class="messageUser">
                                                    <a ui-sref="home.userPage({user:message.user._id})">
                                                    {{message.user.anonName}}
                                                    </a>
                                                            
                                                        </h2>
                                        <p class="messageContent" ng-if="message.type!='img'">
                                            {{message.message}}
                                        </p>
                                        <p ng-if="message.type=='img'">
                                            <img class="chatImage" image-modal="{{message.message}}" width="130" height="140" ng-src="{{message.message}}"  />
                                            
                                        </p>

                                        <span class="messageTime">
                                                        {{mrc.formatMessageDate(message.time)}}
                                        
                                        </span>       
                                        
                                        
                                </div>
                                <div style="clear:both;position: relative;" class="msgBox">
                                        <div style="text-align:center;margin-left:50%;position:absolute;">
                                                <ion-spinner ng-if="mrc.messageLoading" class="spinner-positive"></ion-spinner>
                                        </div>
                                </div>
                                
                        </div>
                        <div ng-if="mrc.showTempImage">
                                <img ngf-src="mrc.tempImageUrl" width="120" height="120">
                                <button ng-click="mrc.submitUpload()" class="button-assertive ion-checkmark-round button-icon icon ">
                                </button>
                                <button ng-click="mrc.cancelUpload()" class="button-icon icon ion-close-round ">
                                </button>
                        </div>
                        



                        
                
                </ion-content>
                <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
                        <button class=" button-icon icon ion-ios-camera"  type="file" ngf-select="mrc.uploadSingleImage($file, $invalidFiles)" ng-disabled="mrc.showTempImage || mrc.messageLoading" accept="image/*" ngf-max-height="5000" ngf-max-size="10MB">
                        </button>
                        <label class="item-input-wrapper" >
                                <input type="text"  placeholder="Type your message" is-focused="{{mrc.focusInput}}"
                                    ng-focus="mrc.scrollBottom()"  ng-model="mrc.myMsg" ng-disabled="mrc.showTempImage"  />
                                <!--never disable this input unless uploading image failing which the keyboard disappears-->
                        </label>
                        <button class="button button-dark"  ng-disabled="mrc.showTempImage || !mrc.myMsg || mrc.messageLoading" ng-click="mrc.clickSubmit($event)">
                                Send
                        </button>
                </ion-footer-bar>
        </ion-pane>
</ion-view>
