<ion-view cache-view="false">
	<ion-content class="has-header">
		<ion-refresher pulling-text="Pull to refresh..." on-refresh="mrlc.pullRefreshMessages()">
			
		</ion-refresher>
		
		<ion-list class="list messageList">
			<ion-item message-room-list-modal>
				<center>
				<i class="icon ion-search placeholder-icon"></i> Search
				</center>
			</ion-item>
			<ion-item class="messageItem item-avatar" ng-repeat="messageRoom in mrlc.messageRoomsList" on-tap="mrlc.messageRoomPage(messageRoom)">
				<img class="messageAvatar" ng-src="{{messageRoom.messageRoomImage || messageRoom.lastMessage.user.picture}}" />
				<h2>
					<span>
						{{messageRoom.interest}}
					</span>
				</h2>
				<p ng-if="messageRoom.lastMessage.type=='img'">
					<img style="height:50px;width:50%" ng-src="{{messageRoom.lastMessage.message}}">
				</p>
				<p ng-if="messageRoom.lastMessage.type!=='img'">{{messageRoom.lastMessage.message}}
				</p>
				<span ng-if="messageRoom.newMessage" class="badge badge-assertive">{{1 }}
				</span>
			</ion-item>
			
		</ion-list>
		<ionic-custom-spinner ng-if="!mrlc.initialSearchCompleted">
			
		</ionic-custom-spinner>
		<ion-infinite-scroll on-infinite="mrlc.loadMoreMessages()" distance="100%" immediate-check="false" ng-if="mrlc.canLoadMoreResults && mrlc.initialSearchCompleted">
			
		</ion-infinite-scroll>
	</ion-content>

	<button class="button createMessageRoomButton" ui-sref="messageRoomCreate">
		<i class="ion-plus-round"></i>
	</button>
	
</ion-view>

