.messageList
	.messageItem
		.messageAvatar
			border-radius: 3px
			max-width: 42px
			max-height: 42px
			border: 1px solid rgba(0,0,0,0.07)
.messageListBox
	.singleMessageListItem
		border: 1px solid rgba(0,0,0,0.07)
		padding-bottom: 5px
		.messageUser
			font-size: 13px
			font-weight: 800
		.messageUserImage
			border: 1px solid rgba(0, 0, 0, 0.125)
			border-radius: 3px
			max-width: 42px
			max-height: 42px
		.messageContent
			font-size: 16px
		.messageTime
			font-size: 10px
			color: rgba(0,0,0,0.5)
			padding-top: 5px

.createMessageRoomButton
	background: #ef473a !important
	color:white !important
	z-index: 12 !important
	position: absolute !important 
	bottom: 100px !important
	right: 20px !important
	border-radius: 50% !important
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important
	-webkit-transform: translate3d(0, 0, 0) !important
	transform: translate3d(0, 0, 0) !important
	-webkit-transition: 0.2s linear !important
	transition: 0.2s linear !important
	-webkit-transition-property: -webkit-transform, all !important
	transition-property: transform, all !important
	font-size: 24px
	&:hover
		-webkit-transform: translate3d(0, -1px, 0)  !important
		transform: translate3d(0, -1px, 0) !important
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important
		background: darken(#ef473a, 10%) !important
		