

.messageListBox
	.singleMessageListItem
		border: none
		.messageUser
			font-size: 13px
			font-weight: 800
		.messageUserImage
			border: 1px solid #eee
			border-radius: 3px
			max-width: 45px
			max-height: 45px
		