.headerCustom
	padding: 0
	margin: 0
.rowCustom
	padding: 0
	margin: 0
.columnCustom
	padding: 10px
	text-align: center
.columnCustomActive
	border-bottom: 5px solid white
	color: white
	font-weight: 800


