.headerCustom
	padding: 0
	margin: 0
	height: 50px
.rowCustom
	padding: 0
	margin: 0
.columnCustom
	color: #eee
	text-align: center
	.customTabHeading
		color: #eee
		text-transform: uppercase

.columnCustomActive
	border-bottom: 5px solid white
	color: white
	font-weight: 800
	.customTabHeading
		color: white
		font-weight: 800


