		
@font-face 
	font-family: 'RM'
	src: url('../lib/ionic/fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: 300
@font-face 
	font-family: 'RBB'
	src: url('../lib/ionic/fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: 300
@font-face 
	font-family: 'COR'
	src: url('../lib/ionic/fonts/Comfortaa-Regular.ttf') format('truetype');
	font-weight: 400
@font-face 
	font-family: 'COB'
	src: url('../lib/ionic/fonts/Comfortaa-Bold.ttf') format('truetype');
	font-weight: 400
@font-face 
	font-family: 'VR'
	src: url('../lib/ionic/fonts/VarelaRound-Regular.ttf') format('truetype');
	font-weight: 500
	
@font-face 
	font-family: 'MOM'
	src: url('../lib/ionic/fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500
@font-face 
	font-family: 'MOR'
	src: url('../lib/ionic/fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: 500

*
	font-family: 'MOR', sans-serif !important
h1,h2,h3,h4,h5,h6
	font-family: 'COB', sans-serif !important
	
.material-card
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
.material-card2
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)


