.chatRoomRed
	background-color: red
.overflow-scroll 
	overflow-y: scroll !important
.chatImage
	border: 1px solid #eee
	border-radius: 10px
.leftChat
	clear: both
	float: left
	border-color: white
	max-width: 100%
	padding: 5px 16px 
.rightChat
	clear: both
	float: right
	border-color: white
	max-width: 100%
	padding: 5px 16px

.you
	p
		float: left
		margin-right: 5px
		background-color: #eee
		padding: 10px
		border: 1px solid #eee
		border-radius: 5px
		width: 100%
		background-color: rgba(0,0,255,0.15)
		color: black
		font-size: 17px
		
	img
		float: left
.me
	p
		float: right
		color: white
		border: 1px solid #007AFF
		margin-left: 5px
		background-color: #387ef5//#007AFF
		padding: 10px
		width: 100%
		border-radius: 5px
		font-size: 17px
		
	img
		float: right


