<ion-view>
        <ion-content class="has-header" watch-scroll>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="apc.pullRefreshPeople()">
        </ion-refresher>
        <ion-item >
                                <div people-search-modal>
                                        <center>
                                <i class="icon ion-search placeholder-icon"></i> Search
                                </center>       
                                </div>
                                
                        </ion-item>
        <ionic-custom-spinner ng-if="!apc.initialSearchCompleted" >                
                
        </ionic-custom-spinner>
        
        <people-list people-list="apc.peopleList" list-type="all" people-search-text-submit="apc.peopleSearchTextSubmit(interest)"></people-list>




        <ion-infinite-scroll 
        on-infinite="apc.loadMorePeople()" distance="40%" immediate-check="false" 
        ng-if="apc.canLoadMoreResults && apc.initialSearchCompleted">
        </ion-infinite-scroll>
</ion-content>
</ion-view>
