<ion-view><ion-content class="has-header" watch-scroll>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="npc.pullRefreshPeople()">
        </ion-refresher>
        <div class="item range">
                <i class="icon ion-ios-navigate-outline"></i>

                <input type="range" on-release="npc.releaseRange()"  name="distance" min="10" max="1000" ng-model="npc.distance"/>
                
                {{npc.distance+" mi"}}
        </div>
        <div ng-if="apc.noPeople">
                <h1 class="noPostsHeader">No users nearby</h1>
        </div>
        <people-list people-list="npc.peopleList"></people-list>
        <ion-infinite-scroll on-infinite="npc.loadMorePeople()" distance="70%" immediate-check="false" ng-if="npc.canLoadMoreResults && npc.initialSearchCompleted">
        </ion-infinite-scroll>
</ion-content>
<!----></ion-view>>
