<ion-popover-view style="height:120px;">
        <ion-content>
                <ul class="list">
                	<li ng-click="popOverClick('chat',people._id)" class="item item-icon-left" >
                		<i class="icon ion-chatbubble-working"></i>Chat
                	</li>
                        <li ng-click="popOverClick('profile',people._id)" class="item item-icon-left">
                        	<i class="icon ion-person"></i>Profile</li>
                </ul>
                        
                
        </ion-content>
</ion-popover-view>
