

<ion-view>
        <ion-header-bar class="bar-positive headerCustom">
                <div class="row rowCustom">
                        <div class="col col-25 columnCustom" ui-sref="home.people.all" ui-sref-active="columnCustomActive"><h5 class="customTabHeading">All</h5></div>
                        <div class="col col-25 columnCustom" ui-sref="home.people.revealed" ui-sref-active="columnCustomActive"><h5 class="customTabHeading">Revealed</h5></div>
                        <div class="col col-25 columnCustom" ui-sref="home.people.nearby" ui-sref-active="columnCustomActive"><h5 class="customTabHeading">Nearby</h5></div>
                        <div class="col col-25 columnCustom" ui-sref="home.people.received" ui-sref-active="columnCustomActive"><h5 class="customTabHeading">Received</h5></div>
                </div>
                <!--<div class="button-bar">
                        <a class="button" >First</a>
                        <a class="button" >Second</a>
                        <a class="button" >Third</a>
                </div>-->
        </ion-header-bar>
        <div ui-view="people-tab">Loading</div>
</ion-view>
