<div class="list peopleList">
        <div class="item item-avatar item-icon-right peopleListContainer" user-page="{{people._id}}" ng-repeat="people in peopleList" ng-if="currentUser._id!=people._id">
                <img class="personAvatar" ng-src="{{listType=='revealed' &&(people.facebookPicture||people.googlePicture) || people.picture}}">
               <h2 class="peopleName">
                        <span ng-if="listType=='revealed' ">{{people.facebookName || people.googleName ||people.anonName}}</span>
                        <span ng-if="listType!='revealed'">{{people.anonName}}</span>
                        <span class=" peopleGender">({{people.gender[0]||'O'}})</span>
               </h2>
                
                <p>{{people.status}}</p>
                <p class="tagContent">
                        <span class="subdued postTag" people-search-modal="{{interest}}" ng-repeat="interest in people.interests track by $index">#{{interest}}</span>
                </p>
                <i ng-if="listType=='requested'" class="icon ion-person-add" cancel-reveal="{{people._id}}" after-callback="removeAfterDecided($index)"></i>

                <i ng-if="listType=='received'" class="icon ion-person-add" decide-reveal="{{people._id}}" after-callback="removeAfterDecided($index)"></i>

                <i ng-if="listType=='revealed' " class="icon ion-ios-chatboxes-outline" chat-page="{{people._id}}"></i>
                <i ng-if="listType== 'all'" class="icon ion-ios-chatboxes-outline" chat-page="{{people._id}}"></i>

                
        </div>
</div>
