.chatRoomJoinButton
	padding: 7px 15px
	border: 2px solid #387ef5
	border-radius: 20px
	font-size: 12px
	font-weight: 600
	letter-spacing: 1.4px
.postModalContent
	border: none
	padding: 0
	.postAvatarContent
		border: none
		border-bottom: 1px solid #eee
		padding-bottom: 0
		img
			border-radius: 5px
	.postModalBodyContainer
		border: none
		padding-top: 5px
	.postModalInterests
		border-bottom: 1px solid #ddd
		margin: -16px
		padding: 10px
		padding-left: 16px
		margin-bottom: 10px
		font-size: 13px
	.postModalBody
		font-size: 16px
		margin-top: 0
		padding-left: 10px
		color: rgba(0,0,0,0.8)
		line-height: 1.70 !important
		letter-spacing: 0.02em
	.postModalInfo
		.infoValue
			font-size: 14px
			padding-left: 2px
		.icon
			font-size: 20px
	.postUpvote
		color: red
	
	.postUpvoted
		color: red
.heartBeatAnimation
	animation: heartbeat 3s infinite
@keyframes heartbeat
	0%
		transform: scale( .95)
	20%
		transform: scale( 1)
	40%
		transform: scale( .95)
	60%
		transform: scale( 1)
	80%
		transform: scale( .95)
	100%
		transform: scale( .95);
  


.imageGray

	-webkit-filter: contrast(120%)
	-moz-filter: contrast(120%)
	-ms-filter: contrast(120%)
	-o-filter: contrast(120%)
	filter: contrast(120%)
a
	text-decoration: none
.buttonSearch
	padding-top: 10px
.postTag
	margin-right: 5px
	color: blue
	
.postTabs
	color: black
.tagContent,.postUserName
	padding-left: 5px
	
.singlePostContainer
	
	padding-left: 0px
	padding-bottom: 0px
	border-bottom: 1px solid #ddd
	margin: 0

	.postUserName
		a
			font-size: 17px
	.postUserImage

		max-width: 50px !important
		max-height: 45px !important
		border-radius: 5px !important
		
		
	.postTag
		
		color: rgba(0,0,0,0.5)
		margin-right: 5px
		
	.tagContent
		margin-top: 5px
		font-size: 14px
		color: rgba(0,0,0,0.6)
	.postInfo
		padding-top: 15px
		padding-bottom: 0
		
		.infoValue
			margin-left: 2px
			color: black
			font-size: 11px
			text-transform: lowercase

		.icon
			font-size: 16px
			color: blue
		.infoViews
			color: red
.singlePostContent
	padding-top: 2px
	padding-bottom: 2px
	border-top: none
	.postsListContent
		font-size: 16px
		color: rgba(0,0,0,0.8)
		line-height: 1.70 !important
		letter-spacing: 0.02em
	.postImage
		margin-top: 10px
		border: 1px solid #eee
		border-radius: 5px
	span
		font-size: 16px
		color: rgb(0,0,0)

.noPostsHeader
	color: #9E9E9E
	padding-top: 100px
	font-size: 32px
	text-align: center
@keyframes zoomIn
	from
		opacity: 0
		transform: scale3d(.3, .3, .3)
	50%
		opacity: 1
@keyframes slideInUp
	from
		transform: translate3d(0, 100%, 0)
		visibility: visible
	to
		transform: translate3d(0, 0, 0)
@keyframes slideOutDown
	from
		transform: translate3d(0, 0, 0)
	to
		visibility: hidden
		transform: translate3d(0, 100%, 0)
@keyframes zoomOut
	from
		opacity: 1
	50%
		opacity: 0
		transform: scale3d(.3, .3, .3)
	to
		opacity: 0
.postFabContainer
	position: absolute
	bottom: 170px
	right: 28px
	height: 70px
	width: 160px
	z-index: 5
	text-align: right
.button1,.button2
	text-shadow: 1px 0 0 #eee, 0 -1px 0 #eee, 0 1px 0 #eee, -1px 0 0 #eee
.button1.ng-enter
	animation: zoomIn 0.3s linear
.button2.ng-enter
	animation: zoomIn 0.1s linear

.button1.ng-leave
	animation: zoomOut 0.2s linear
.button2.ng-leave
	animation: zoomOut 0.4s linear
