.singlePostContainer
	
	padding-left: 0px
	padding-bottom: 0px
	.postUserImage
		width: 85%
		height: 40px
		border: 1px solid #eee
		border-radius: 5px
	.postTag
		padding: 5px
		border: 1px solid blue
		border-radius: 3px
		color: blue
		margin-right: 5px
		
	.tagContent
		margin-top: 15px
	.postInfo
		padding: 0
		margin-top: 15px
		font-size: 14px
		i
			color: blue
		.infoValue
			margin-left: 2px
.singlePostContent
	margin-top: 15px
	line-height: 1.5
	span
		font-size: 16px
