<ion-content class="has-header" keep-scroll>
        <div class="list">
                <a class="item item-avatar" ng-repeat="chatRoom in acc.chatRoomsList" ui-sref="chatBox({user:chatRoom.creator2._id})">
                        <img ng-src="{{chatRoom.creator2.picture}}">
                        <h2 ng-if="!chatRoom.revealed">{{chatRoom.creator2.anonName}}</h2>
                        <h2 ng-if="chatRoom.revealed">{{chatRoom.creator2.facebookName || chatRoom.creator2.googleName || chatRoom.creator2.displayName||chatRoom.creator2.anonName}}</h2>
                        <p ng-if="chatRoom.lastMessage.type=='img'"><img style="height:50px;width:50%" ng-src="{{chatRoom.lastMessage.message}}"></p>
                        <p ng-if="chatRoom.lastMessage.type!=='img'">{{chatRoom.lastMessage.message}}</p>
                </a>
        </div>
</ion-content>
