<ion-view >
        <ion-header-bar class="bar-positive headerCustom">
                <div class="row rowCustom">
                        <div class="col col-50 text-center columnCustom" ui-sref-active="columnCustomActive" ui-sref="home.chat.all"><h5 class="customTabHeading">All</h5></div>
                        <div class="col col-50 text-center columnCustom" ui-sref-active="columnCustomActive" ui-sref="home.chat.revealed">
                        	<h5 class="customTabHeading">Revealed</h5></div>
                        
                </div>
        </ion-header-bar>
        <ion-nav-view name="chat-tab">Loading</ion-nav-view>
</ion-view>
