<ion-view cache-view="false">
<ion-pane    >
    <ion-header-bar align-title="left" class="bar-positive ">
  <div class="buttons">
                        <button class="button" ng-click="cbc.leaveChatBox()" >Chats</button>
                </div>
                <h4 class="title">
            <a ui-sref="home.user.userPage({user:cbc.receiverUserID})" >
                <span ng-if="cbc.chatRoom.revealed">
                    {{ cbc.receiverUser.facebookName || cbc.receiverUser.googleName ||cbc.receiverUser.displayName || cbc.receiverUser.anonName || 'anonUser'}}
                </span>
                <span ng-if="!cbc.chatRoom.revealed">
                    {{ cbc.receiverUser.anonName || 'anonUser'}}
                </span>
                </a>
                </h4>
</ion-header-bar>
        <!--overflow-scroll="false"-->
        <ion-content class="has-header" class="chatContent">
                <ion-refresher pulling-text="Pull to refresh..." on-refresh="cbc.loadMoreChats()">
                </ion-refresher>
                <div ng-cloak class="chatBoxPage" class="list">
                        <div ng-repeat="chat in cbc.chatList" class="item" ng-class="chat.user._id==cbc.currentUser ? 'rightChat':'leftChat' ">
                                <div ng-class=" chat.user._id==cbc.currentUser ? 'you' : 'me'">
                                        <!--<div class="image">
                                                <img ng-src="{{chat.user.picture}}" alt="" />
                                        </div>-->
                                        <img class="chatImage" ng-click="cbc.showImageModal(chat.message)" width="130" height="140" ng-src="{{chat.message}}" ng-if="chat.type=='img'"/>
                                        <p ng-if="chat.type!='img'">{{chat.message}}</p>
                                </div>
                        </div>
                        <div style="clear:both;position: relative;" class="msgBox">
                                <div style="text-align:center;margin-left:50%;position:absolute;">
                                        <small-loading-directive small-loading="cbc.messageLoading"></small-loading-directive>
                                </div>
                        </div>
                </div>
                <!--<div ngf-thumbnail="cbc.f" ngf-size="{width: 20, height: 20, quality: 0.9}" ></div>-->
                <div ng-if="cbc.showTempImage">
                    <img ngf-src="cbc.tempImageUrl" width="120" height="120">
                    <button ng-click="cbc.submitUpload()">
                        Submit
                    </button>
                    <button ng-click="cbc.cancelUpload()">
                        Cancel
                    </button>
                </div>
        </ion-content>
        <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
                <button class="button button-clear"  type="file" ngf-select="cbc.uploadSingleImage($file, $invalidFiles)" accept="image/*" ngf-max-height="5000" ngf-max-size="10MB" >
                        <i class="icon ion-ios-camera"></i>
                </button>
                <label class="item-input-wrapper">
                        <input type="text"  is-focused="{{cbc.focusInput}}" placeholder="Type your message" id="chatInput" ng-model="cbc.myMsg" ng-disabled="cbc.showTempImage" ng-focus="cbc.scrollBottom()"/>
                </label>
                <button class="button button-clear"  ng-disabled="cbc.showTempImage" ng-click="cbc.clickSubmit()">
                        Send
                </button>
        </ion-footer-bar>
        </ion-pane>
</ion-view>
