<ion-view cache-view="false">
        <div class="bar bar-subheader item-input-inset">
                <div class="buttons">
                        <button class="button" ui-sref="home.chat.all">Chats</button>
                </div>
                <h4 class="title">User Name
            <!--<a ui-sref="tabs.userPage({userId:cbc.receiverUserId})" >{{cbc.receiverUser}}</a>-->
        		</h4>
        </div>
        <ion-content class="has-header has-subheader">
                <div ng-cloak class="chatBoxPage">
                        <div ng-repeat="chat in cbc.chatList" ng-class="chat.user._id==cbc.currentUser ? 'rightChat':'leftChat' ">
                                <div ng-class=" chat.user._id==cbc.currentUser ? 'you' : 'me'">
                                        <div class="image">
                                                <img ng-src="{{chat.user.picture}}" alt="" />
                                        </div>
                                        <p>{{chat.message}}</p>
                                </div>
                        </div>
                        <div style="clear:both;position: relative;" class="msgBox">
                                <div style="text-align:center;margin-left:50%;position:absolute;">
                                        <small-loading-directive small-loading="cbc.messageLoading"></small-loading-directive>
                                </div>
                        </div>
                </div>
        </ion-content>
        <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
                <label class="item-input-wrapper">
                        <input type="text" placeholder="Type your message" ng-model="cbc.myMsg" ng-disabled="cbc.messageLoading" />
                </label>
                <button class="button button-clear" ng-click="cbc.clickSubmit()">
                        Send
                </button>
        </ion-footer-bar>
</ion-view>
