.chatRoomRed {
  background-color: red; }

.overflow-scroll {
  overflow-y: scroll !important; }

.chatImage {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px; }

.leftChat {
  clear: both;
  float: left;
  border-color: white;
  max-width: 100%;
  padding: 5px 16px; }

.rightChat {
  clear: both;
  float: right;
  border-color: white;
  max-width: 100%;
  padding: 5px 16px; }

.you p {
  float: left;
  margin-right: 5px;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.15);
  color: black;
  font-size: 17px; }

.you img {
  float: left; }

.me p {
  float: right;
  color: white;
  border: 1px solid #007AFF;
  margin-left: 5px;
  background-color: #387ef5;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 17px; }

.me img {
  float: right; }

.chatList .chatItem .chatAvatar {
  border-radius: 3px;
  max-width: 45px;
  max-height: 45px;
  border: 1px solid #eee; }

.randomImagesList {
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  white-space: nowrap; }
  .randomImagesList .randomImage {
    height: 100%;
    margin-right: 2px;
    border: 1px solid #eee;
    border-radius: 5px;
    filter: contrast(120%);
    min-width: 100px; }

.chatRoomJoinButton {
  padding: 7px 15px;
  border: 2px solid #387ef5;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.4px; }

.postModalContent {
  border: none;
  padding: 0; }
  .postModalContent .postAvatarContent {
    border: none;
    border-bottom: 1px solid #eee;
    padding-bottom: 0; }
    .postModalContent .postAvatarContent img {
      border-radius: 5px; }
  .postModalContent .postModalBodyContainer {
    border: none;
    padding-top: 5px; }
  .postModalContent .postModalInterests {
    border-bottom: 1px solid #ddd;
    margin: -16px;
    padding: 10px;
    padding-left: 16px;
    margin-bottom: 10px;
    font-size: 13px; }
  .postModalContent .postModalBody {
    font-size: 16px;
    margin-top: 0;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.70 !important;
    letter-spacing: 0.02em; }
  .postModalContent .postModalInfo .infoValue {
    font-size: 14px;
    padding-left: 2px; }
  .postModalContent .postModalInfo .icon {
    font-size: 20px; }
  .postModalContent .postUpvote {
    color: red; }
  .postModalContent .postUpvoted {
    color: red; }

.heartBeatAnimation {
  animation: heartbeat 3s infinite; }

@keyframes heartbeat {
  0% {
    transform: scale(0.95); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.95); }
  100% {
    transform: scale(0.95); } }

.imageGray {
  -moz-filter: contrast(120%);
  -ms-filter: contrast(120%);
  -o-filter: contrast(120%);
  filter: contrast(120%); }

a {
  text-decoration: none; }

.buttonSearch {
  padding-top: 10px; }

.postTag {
  margin-right: 5px;
  color: blue; }

.postTabs {
  color: black; }

.tagContent, .postUserName {
  padding-left: 5px; }

.singlePostContainer {
  padding-left: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ddd;
  margin: 0; }
  .singlePostContainer .postUserName a {
    font-size: 17px; }
  .singlePostContainer .postUserImage {
    max-width: 50px !important;
    max-height: 45px !important;
    border-radius: 5px !important; }
  .singlePostContainer .postTag {
    color: rgba(0, 0, 0, 0.5);
    margin-right: 5px; }
  .singlePostContainer .tagContent {
    margin-top: 5px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6); }
  .singlePostContainer .postInfo {
    padding-top: 15px;
    padding-bottom: 0; }
    .singlePostContainer .postInfo .infoValue {
      margin-left: 2px;
      color: black;
      font-size: 11px;
      text-transform: lowercase; }
    .singlePostContainer .postInfo .icon {
      font-size: 16px;
      color: blue; }
    .singlePostContainer .postInfo .infoViews {
      color: red; }

.singlePostContent {
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: none; }
  .singlePostContent .postsListContent {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.70 !important;
    letter-spacing: 0.02em; }
  .singlePostContent .postImage {
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 5px; }
  .singlePostContent span {
    font-size: 16px;
    color: black; }

.noPostsHeader {
  color: #9E9E9E;
  padding-top: 100px;
  font-size: 32px;
  text-align: center; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0); } }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }

.postFabContainer {
  position: absolute;
  bottom: 170px;
  right: 28px;
  height: 70px;
  width: 160px;
  z-index: 5;
  text-align: right; }

.button1, .button2 {
  text-shadow: 1px 0 0 #eee, 0 -1px 0 #eee, 0 1px 0 #eee, -1px 0 0 #eee; }

.button1.ng-enter {
  animation: zoomIn 0.3s linear; }

.button2.ng-enter {
  animation: zoomIn 0.1s linear; }

.button1.ng-leave {
  animation: zoomOut 0.2s linear; }

.button2.ng-leave {
  animation: zoomOut 0.4s linear; }

.peopleList .peopleListContainer .personAvatar {
  border-radius: 5px;
  max-width: 45px;
  max-height: 50px; }

.peopleList .peopleListContainer .peopleName {
  font-weight: 600; }
  .peopleList .peopleListContainer .peopleName .peopleGender {
    font-size: 12px;
    font-weight: 400; }

.logoIcon {
  background-image: url("/img/logo.png");
  height: 100px;
  width: 160px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 25%;
  margin-top: 30%; }

.authenticationModalContainer {
  padding: 24px; }

.authModalFormContainer {
  max-width: 100%;
  width: 480px;
  box-sizing: border-box;
  margin-top: 10px; }

.autheticateFormInputContainer {
  position: relative;
  margin-bottom: 15px; }
  .autheticateFormInputContainer .iconContainer {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 30px;
    text-align: center; }
    .autheticateFormInputContainer .iconContainer span {
      font-size: 24px;
      color: teal; }
  .autheticateFormInputContainer input {
    height: 50px;
    font-size: 16px;
    width: 100%;
    font-family: Roboto;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    transition: border-color 0.2s;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #fff;
    color: #484848;
    box-sizing: border-box;
    display: block; }

.facebookAuthenticateButton {
  border-color: #3B5998;
  background-color: #3B5998;
  color: #fff;
  padding: 20px;
  margin: 0 30px;
  font-size: 20px;
  box-sizing: border-box; }
  .facebookAuthenticateButton .text-container {
    margin-left: 5%; }

.loginSeparator {
  position: relative;
  text-align: center;
  margin-top: 10px;
  height: 20px;
  color: rgba(0, 0, 0, 0.5); }
  .loginSeparator .separatorLine {
    position: absolute;
    top: 45%;
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: block; }
  .loginSeparator .separatorText {
    position: absolute;
    left: 45%;
    display: block;
    padding: 10px;
    background-color: white;
    padding-top: 0; }

.profileInfoText {
  color: white;
  padding-top: 5px;
  padding-bottom: 10px; }

.authModalText {
  font-size: 18px;
  color: teal;
  font-family: "Lato"; }

.authModalButton {
  font-family: "Lato";
  padding: 10px 18px;
  color: teal;
  border: 1px solid teal;
  border-radius: 3px; }

.headerCustom {
  padding: 0;
  margin: 0;
  height: 50px;
  background: linear-gradient(to bottom, #2989d8 0%, #1e5799 100%) !important; }

.gradHeader {
  background: linear-gradient(to bottom, #2989d8 0%, #1e5799 100%) !important; }

.rowCustom {
  padding: 0;
  margin: 0; }

.columnCustom {
  color: #eee;
  text-align: center; }
  .columnCustom .customTabHeading {
    color: #eee;
    text-transform: uppercase;
    font-size: 12px; }

.columnCustomActive {
  border-bottom: 5px solid white;
  color: white;
  font-weight: 800;
  transition: border-bottom .5s ease; }
  .columnCustomActive .customTabHeading {
    color: white;
    font-weight: 800; }

@keyframes hide {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(0, -100%, 0); } }

@keyframes show {
  from {
    transform: translate3d(0, -100%, 0); }
  to {
    transform: translate3d(0, 0, 0); } }

.headerCustom.ng-hide-remove {
  animation: 0.5s show; }

.headerCustom.ng-hide-add {
  animation: 0.5s hide; }

@font-face {
  font-family: 'RM';
  src: url("../lib/ionic/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'RBB';
  src: url("../lib/ionic/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'COR';
  src: url("../lib/ionic/fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'COB';
  src: url("../lib/ionic/fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'VR';
  src: url("../lib/ionic/fonts/VarelaRound-Regular.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'MOM';
  src: url("../lib/ionic/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'MOR';
  src: url("../lib/ionic/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'CHR';
  src: url("../lib/ionic/fonts/Charter.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'MRW';
  src: url("../lib/ionic/fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: 500; }

* {
  font-family: 'MRW', sans-serif !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'COB', sans-serif !important; }

.image-background {
  background-image: url("https://puneet94.github.io/image2.PNG");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .image-background .authenticationContent {
    padding-top: 50%; }
    .image-background .authenticationContent h1, .image-background .authenticationContent h5 {
      color: white; }

.material-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.material-card2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.animatedClass .ng-move,
.animatedClass .ng-enter,
.animatedClass .ng-leave {
  transition: all linear 0.5s; }

.animatedClass .ng-leave.ng-leave-active,
.animatedClass .ng-move,
.animatedClass .ng-enter {
  opacity: 0; }

.animatedClass .ng-leave,
.animatedClass .ng-move.ng-move-active,
.animatedClass .ng-enter.ng-enter-active {
  opacity: 1; }

.linear-background .name-seperator {
  position: absolute;
  top: 15px;
  width: 100%;
  background-color: #fff;
  height: 15px;
  left: 60px; }

.linear-background .name-right {
  position: absolute;
  top: 0px;
  width: 60px;
  right: 0;
  background-color: #fff;
  height: 40px; }

.linear-background .name-bottom {
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: #fff;
  height: 30px;
  left: 75px; }

.linear-background .pic-right {
  position: absolute;
  width: 15px;
  background-color: #fff;
  height: 60px;
  left: 60px;
  top: 0px; }

.linear-background .pic-left {
  position: absolute;
  width: 5px;
  background-color: white;
  height: 90px;
  left: 10px;
  top: 2px; }

.linear-background .header-seperator {
  position: absolute;
  width: 100%;
  background-color: #fff;
  height: 15px;
  top: 60px; }

.linear-background .content-seperator {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 10px;
  top: 100px; }

.ionicCustomSpinnerContainer {
  margin-top: 30vh;
  margin-left: 40%; }
  .ionicCustomSpinnerContainer .spinner svg {
    width: 60px;
    height: 60px;
    stroke: #eee;
    fill: rgba(56, 126, 245, 0.7); }

.selectable {
  -webkit-user-select: auto;
  -moz-user-select: auto;
   -ms-user-select: auto;
       user-select: auto; }

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
  color: #387ef5 !important;
    color-font-weight: 800; }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.privacyPolicy {
  color: white;
  text-decoration: underline; }

.linear-background {
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border: 15px solid white; }

.messageList .messageItem .messageAvatar {
  border-radius: 3px;
  max-width: 42px;
  max-height: 42px;
  border: 1px solid rgba(0, 0, 0, 0.07); }

.messageListBox .singleMessageListItem {
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding-bottom: 5px; }
  .messageListBox .singleMessageListItem .messageUser {
    font-size: 13px;
    font-weight: 800; }
  .messageListBox .singleMessageListItem .messageUserImage {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    max-width: 42px;
    max-height: 42px; }
  .messageListBox .singleMessageListItem .messageContent {
    font-size: 16px; }
  .messageListBox .singleMessageListItem .messageTime {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 5px; }

.createMessageRoomButton {
  background: #ef473a !important;
  color: white !important;
  z-index: 12 !important;
  position: absolute !important;
  bottom: 100px !important;
  right: 20px !important;
  border-radius: 50% !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  transform: translate3d(0, 0, 0) !important;
  transition: 0.2s linear !important;
  transition-property: transform, all !important;
  font-size: 24px; }
  .createMessageRoomButton:hover {
    transform: translate3d(0, -1px, 0) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
    background: #e42112 !important; }

.center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.userImage {
  border-radius: 5px;
  border: 1px solid #eee;
  width: 130px;
  height: 130px; }
