.chatRoomRed {
  background-color: red; }

.overflow-scroll {
  overflow-y: scroll !important; }

.chatImage {
  border: 1px solid #eee;
  border-radius: 10px; }

.leftChat {
  clear: both;
  float: left;
  border-color: white;
  max-width: 100%;
  padding: 5px 16px; }

.rightChat {
  clear: both;
  float: right;
  border-color: white;
  max-width: 100%;
  padding: 5px 16px; }

.you p {
  float: left;
  margin-right: 5px;
  background-color: #eee;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%; }

.you img {
  float: left; }

.me p {
  float: right;
  color: white;
  border: 1px solid #007AFF;
  margin-left: 5px;
  background-color: #007AFF;
  padding: 10px;
  width: 100%;
  border-radius: 5px; }

.me img {
  float: right; }

.logoIcon {
  background-image: url("/img/logo.png");
  height: 100px;
  width: 160px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 25%;
  margin-top: 30%; }

.authenticationModalContainer {
  padding: 24px; }

.authModalFormContainer {
  max-width: 100%;
  width: 480px;
  box-sizing: border-box;
  margin-top: 10px; }

.autheticateFormInputContainer {
  position: relative;
  margin-bottom: 15px; }
  .autheticateFormInputContainer .iconContainer {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 30px;
    text-align: center; }
    .autheticateFormInputContainer .iconContainer span {
      font-size: 24px;
      color: teal; }
  .autheticateFormInputContainer input {
    height: 50px;
    font-size: 16px;
    width: 100%;
    font-family: Roboto;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    transition: border-color 0.2s;
    border: 1px solid #aaa;
    border-radius: 2px;
    background-color: #fff;
    color: #484848;
    box-sizing: border-box;
    display: block; }

.facebookAuthenticateButton {
  border-color: #3B5998;
  background-color: #3B5998;
  color: #fff;
  padding: 20px;
  margin: 30px;
  font-size: 20px;
  box-sizing: border-box; }
  .facebookAuthenticateButton .text-container {
    margin-left: 5%; }

.loginSeparator {
  position: relative;
  text-align: center;
  margin-top: 10px;
  height: 20px;
  color: rgba(0, 0, 0, 0.5); }
  .loginSeparator .separatorLine {
    position: absolute;
    top: 45%;
    height: 1.5px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    display: block; }
  .loginSeparator .separatorText {
    position: absolute;
    left: 45%;
    display: block;
    padding: 10px;
    background-color: white;
    padding-top: 0; }

.authModalText {
  font-size: 18px;
  color: teal;
  font-family: "Lato"; }

.authModalButton {
  font-family: "Lato";
  padding: 10px 18px;
  color: teal;
  border: 1px solid teal;
  border-radius: 3px; }

.headerCustom {
  padding: 0;
  margin: 0;
  height: 50px; }

.rowCustom {
  padding: 0;
  margin: 0; }

.columnCustom {
  color: #eee;
  text-align: center; }
  .columnCustom .customTabHeading {
    color: #eee;
    text-transform: uppercase; }

.columnCustomActive {
  border-bottom: 5px solid white;
  color: white;
  font-weight: 800; }
  .columnCustomActive .customTabHeading {
    color: white;
    font-weight: 800; }

@font-face {
  font-family: 'RM';
  src: url("../lib/ionic/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'RBB';
  src: url("../lib/ionic/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'COR';
  src: url("../lib/ionic/fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'COB';
  src: url("../lib/ionic/fonts/Comfortaa-Bold.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'VR';
  src: url("../lib/ionic/fonts/VarelaRound-Regular.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'MOM';
  src: url("../lib/ionic/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500; }

@font-face {
  font-family: 'MOR';
  src: url("../lib/ionic/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 500; }

* {
  font-family: 'MOR', sans-serif !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'COB', sans-serif !important; }

.material-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.material-card2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.peopleList .peopleListContainer .personAvatar {
  border-radius: 5px;
  max-width: 45px;
  max-height: 50px; }

.peopleList .peopleListContainer .peopleName {
  font-weight: 600; }
  .peopleList .peopleListContainer .peopleName .peopleGender {
    font-size: 12px;
    font-weight: 400; }

.postModalContent .postModalInterests {
  border-bottom: 1px solid #ddd;
  margin: -16px;
  padding: 10px;
  padding-left: 16px;
  margin-bottom: 10px; }

.postModalContent .postModalBody {
  font-size: 18px;
  text-transform: capitalize; }

.postModalContent .postModalInfo .infoValue {
  font-size: 18px;
  padding-left: 2px; }

.postModalContent .postModalInfo .icon {
  font-size: 20px; }

.postModalContent .postUpvote {
  color: red; }

.postModalContent .postUpvoted {
  color: red; }

.heartBeatAnimation {
  animation: heartbeat 3s infinite; }

@keyframes heartbeat {
  0% {
    transform: scale(0.95); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.95); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.95); }
  100% {
    transform: scale(0.95); } }

.imageGray {
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  filter: grayscale(80%);
  filter: gray; }

a {
  text-decoration: none; }

.buttonSearch {
  padding-top: 10px; }

.postTag {
  margin-right: 5px;
  color: blue; }

.postTabs {
  color: black; }

.tagContent, .postUserName {
  padding-left: 5px; }

.singlePostContainer {
  padding-left: 0px;
  padding-bottom: 0px; }
  .singlePostContainer .postUserName a {
    font-size: 17px; }
  .singlePostContainer .postUserImage {
    max-width: 50px !important;
    max-height: 45px !important;
    border-radius: 5px !important; }
  .singlePostContainer .postTag {
    color: rgba(0, 0, 0, 0.5);
    margin-right: 5px; }
  .singlePostContainer .tagContent {
    margin-top: 5px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6); }
  .singlePostContainer .postInfo {
    padding: 0;
    font-size: 24px; }
    .singlePostContainer .postInfo .infoValue {
      margin-left: 2px;
      color: black;
      font-size: 16px; }
    .singlePostContainer .postInfo .icon {
      font-size: 19px;
      color: blue; }
    .singlePostContainer .postInfo .infoViews {
      color: red; }

.singlePostContent {
  padding-top: 2px;
  padding-bottom: 2px; }
  .singlePostContent .postImage {
    padding-top: 10px; }
  .singlePostContent span {
    font-size: 16px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.85); }

.center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.userImage {
  border-radius: 5px;
  border: 1px solid #eee;
  width: 130px;
  height: 130px; }
